<footer id="footer">
	<section class="sponsoring">
		<h3>Unsere Sponsoren</h3>
		<div>
			<a href="https://www.nine.ch/" target="_blank">
				<img src="/assets/sponsoring/logo_nine.png" alt="Sponsor Logo Nine" class="no-shadow">
			</a>
			<!-- <a href="https://services.bsi-software.com/studio/public/e/l/karriere-openhsr" target="_blank"> -->
			<!-- 	<img src="/assets/sponsoring/logo_bsi.png" alt="Sponsor Logo BSI" class="no-shadow"> -->
			<!-- </a> -->
			<!-- <a href="https://www.hostpoint.ch/" target="_blank"> -->
			<!-- 	<img src="/assets/sponsoring/logo_hostpoint.png" alt="Sponsor Logo Hostpoint" class="no-shadow"> -->
			<!-- </a> -->
			<!-- <a href="https://news.infomaniak.com/de/kostenloses-hosting-fuer-studenten/" target="_blank"> -->
			<!-- 	<img src="/assets/sponsoring/logo_infomaniak.png" alt="Sponsor Logo Infomaniak" class="no-shadow"> -->
			<!-- </a> -->
			<a href="https://www.ost.ch/de/" target="_blank">
				<img src="/assets/sponsoring/logo_ost.svg" alt="Sponsor Logo OST" class="no-shadow">
			</a>
			<a href="https://www.ost.ch/de/forschung-und-dienstleistungen/informatik/ins-institut-fuer-netzwerke-und-sicherheit" target="_blank">
				<img src="/assets/sponsoring/logo_ins.png" alt="Sponsor Logo INS" class="no-shadow">
			</a>
			<a class='button' href="/sponsoring">Sponsor werden</a>
		</div>
	</section>
	<section class="partnership">
		<h3>Unsere Partner</h3>
		<div>
			<a href="https://coredump.ch" target="_blank">
				<img src="/assets/partnership/logo_coredump.svg" alt="Logo Coredump" class="no-shadow">
			</a>
		</div>
	</section>
	<section class="legal">
		<p>
			<strong>&copy; open\OST, <time datetime="{{site.time | date: " %Y-%m-%d" }}">{{site.time | date: "%d.%m.%Y" }}</time></strong>.
			Der Inhalt ist unter der <a href="https://www.gnu.org/copyleft/fdl.html" rel="license">GNU Free Documentation License</a> verfügbar, sofern nicht anders angegeben.
		</p>
	</section>
</footer>

<!--JS includes -->
<script src="/assets/jquery/jquery-2.2.2.min.js"></script>
<script src="/assets/lightbox/js/lightbox.min.js"></script>
<script src="/js/script.js"></script>
