---
layout: 'page'
title: Tipps &amp; Tricks
---

<p>Im Laufe des Studiums haben wir viele Tipps und Tricks entdeckt. Diese möchten wir dir nicht vorenthalten!</p>

<p>Wenn du auch einen Tipp, ein Script, ein Tutorial, eine App oder sonst was hast - <a href="https://github.com/openost/www.open-ost.ch" alt="openOST auf Github"> wir freuen uns über deinen
        Beitrag</a></p>


{% for tag in site.tags %}
<h2 class="tipps-category">{{tag[0]}}</h2>
<ul>
    {% for entry in site.categories['tipps'] %}
    {% if entry.tags contains tag[0] %}
    <li><a href="{{entry.url}}">{{entry.title}}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}